p{
    font-family: Montserrat Alternates;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.mod{
      font-size: 35px;
      font-weight: bold;
      margin-bottom: 10px;
}
.modin1{
     text-decoration: underline;
}