p{
    font-family: Arial;
    margin-top: 0px;
    margin-bottom:0px;
    font-size: 20px;
}
 .p6{
    
    margin-bottom:5px;
 }
 .ta{
    font-weight: bold;
 }
 .tag{
    color: gray;
 }
 .p61{
    width:600px;
    margin-bottom: 20px;
    line-height: 25px;
 }
 .tag1{
    color:rgb(102, 102, 236);
 }




/*p{
    font-family: Arial;
    margin-top: 0px;
    margin-bottom: 0px;
}
    .p5{
        margin-top: 5px;
        font-size:30px;
        margin-bottom: 5px;
    }
    .tag{
        color:gray;
        font-size: 16px;
    }
    .p51{
        color:rgb(24,128,56);
        margin-bottom: 8px;
    }
    .p52{
        color:rgb(100,100,100);
    }
    .ta{
        color:rgb(235, 39, 39);
    }*/

 /*p{
    font-family: Arial;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
 }
 
 .p5{
    color:rgb(245, 99, 0);
    margin-bottom: 10px;
 }
 
 .p51{
    font-weight:bold;
    font-size:24px;
    margin-bottom:5px;
 }
 .p52{
    font-weight:bold;
    font-size: 45px ;
    margin-bottom: 15px;
 }
 .p53{
    margin-bottom:25px;
 }
 .p54{
    background-color:rgb(0,113,227);
    color: white;
    border:none;
    font-weight: bold;
    cursor:pointer;
    padding-top:7px;
    padding-left:15px;
    padding-right:15px;
    padding-bottom:7px;
    border-radius: 15px;
    margin-left: 380px;
 }*/
/*.p1{
    font-family: Tahoma;
    font-size: 30px;
    font-weight: bold;
}
.p2{
    font-family: Arial;
    font-size: 30px;
    font-weight:bold;
    margin-bottom: 8px;
}
.p21{
    font-family:Arial;
    font-size: 18px;
    color: red;
    font-style: italic;
    margin-top: 0;
}*/
/*p{
    font-family:verdana;
    margin-top: 0px;
    margin-bottom: 0px;
}
.p3{
    font-size:20px;
    font-weight:bold;
    margin-bottom: 3px;
}
.p31{
    color: gray;
    margin-bottom:18px;
}
.p32{
     width:300px;
     line-height:22px;
     margin-bottom:18px;
}
.p33{
    
    font-family: verdana;
    background-color: green;
    color:white;
    border:none;
    cursor:pointer;
    font-weight: bold;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:16px;
    padding-left:16px;
    border-radius: 6px;
}*/
/*p{
    font-family: Arial;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}
.p4{
    font-weight: bold;
    font-size:30px;
    margin-bottom: 20px;
    margin-top:20px;
}
.p41{
     
     margin-bottom:20px;
}
.p42{
    color:rgb(100, 100, 222);
   
}*/
